*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
}

h1, p {
  margin: 0 0 1em 0;
}

/* no grid support? */
.inputWindow {
  float: left;
  width: 19.1489%;
}

.content {
  float: right;
  width: 79.7872%;
}

/* make a grid */
.App {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr;
  grid-gap: 20px;
}

.BarChart{
  align-content: center;
}
.graphWindow{
  text-align: center;
  align-content: center;

}
.inputWindow{
  text-align: center;
  }

.middleWindow{
  text-align: center;
}

.footer{
  text-align: center;
}
.App > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  /* needed for the floated layout */
  clear: both;
}


/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .App > * {
    width: auto;
    margin: 0;
  }
}